body {
  font-family: 'Courier New', monospace;
  background-color: #ffffcc;
  color: #000080;
}

a {
  color: #800000;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}
