body {
  background-color: #f0f0f0;
  font-family: monospace;
  color: #222;
  padding: 40px;
}

a {
  color: darkblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
